* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background-image:linear-gradient(120deg,#3498db,#6a417c); */
  /* background: linear-gradient(to left,#5c3a8a, #1f6594 ); */
  /* background: linear-gradient(to top, #264463, #3498db); */
}

.form-name {
  width: 360px;
  background: #f1f1f1;
  /* height: 580px; */
  height: 480px;
  padding: 50px 40px;
  /* border-radius: 10px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.form h3 {
  text-align: center;
  /* margin-bottom: 60px; */
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.ibox {
  position: relative;
  margin: 30px 0;
}
.ibox input {
  font-size: 15px;
  color: #333;
  border: none;
  border-bottom: 2px solid #adadad;
  width: 100%;
  outline: none;
  background: none;
  /* padding: 0 0px; */
  height: 40px;
}

/* .ibox span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
} */

.ibox label {
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 0;
  /* padding: 8px 0; */
  /* font-size: 16px; */
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  /* pointer-events: none; */
  transition: 0.5s;
}
.ibox input:focus ~ label,
.ibox input:valid ~ label {
  top: 5px;
  left: 0;
  color: #3498db;

  font-size: 12px;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  /* background:linear-gradient(120deg,#3498db,#8e44ad,#3498db) ; */
  background: linear-gradient(120deg, #3498db, #446281, #3498db);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: medium;
}

.btn:hover {
  background-position: right;
}
